.header-container {
    display: flex;
    flex-direction: column;
    height: auto;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 5;
    max-height: 80px;
}
.header {
    max-width: 100%;
    padding: 12px 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-line {
    height: 4px;
    background-color: var(--color);
    margin: 0px;
    width: 100%;
}
.header-img {
    margin: 0;
    & img {
        height: 37px;
    }
}
.header-content {
    margin: 0;
    & h5 {
        margin: 0;
        cursor: pointer;
        color: var(--color);
    }
}

@media (max-width : 480px) {
    .header-content {
        display: none;
    }
}